
/*********************BASIC LAYOUT***************************/



/*body {
	background-color: #c0c0c0;
	width: 90%;
	margin:0 auto;
	
}*/

header {
	width: 100%;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;

}

h1 {
	display: block;
	text-align: center;
	}

h2 {
	text-align: center;
	font-family: "Times New roman";
	font-size: 20px;
}



div p {
	font-size: 20px;

}





li {
	margin: 15px;
	text-decoration: none;

}

a {
	text-decoration: none;
	color: black;
}


/*********************MEDIA QUERY***************************/

@media screen and (min-width: 320px) {
	.container {
		width: 80%;
		margin: 0 auto;
	}
	body{
		background-color: #929698 ;
		width: 100%;
		

	}
	header img {
		width: 40%;
		border-radius: 100px;
		position: relative;
		left: 30%;
		padding-top:5px;
		text-align: center;
	}

	header p {
		
		text-align: center;
		font-size: 17px;
		padding-top:5px;
	}

	.main-nav {
		text-align: center;
		height: 100px;
		padding: 5px;
		width: 100%;
	}

	.main-nav li {
		background-color: #adadad;
		font-size: 22px;
		margin: 5px;
	}

	.nav {
		margin-right: auto;	
	}

	.name {
		margin: 0;
		top: 10px;
		margin: 0 15px 0 0;
		padding: 5px;
		text-align: center;
		width: 100%;
	
	}

	.profile {
		
		background-color: #adadad;
		margin: 60px 30px 40px 30px;
	}

	.intro {
		padding: 10px;
	}

	.wrap {
		width: 100%;
		text-align: center;
		padding: 10px;
		margin: 0 auto;
		
	}


	#contact {
		text-align: center;
		padding: 30px 10px;
		border-bottom: 1px solid black;
		width: 100%;
		right: 50px;
	}

	.main-footer {
		
	 	text-align: center;
  		/*padding: 5px 10px;*/
	  	
	}

	.to-top {
		padding: 5px;
		list-style: none;
		float: right;
	}

	.bottom-nav{
		
		display: none;
	}
	
	footer h3 {
		float: left;
		margin:  1px;
		padding: 5px;
	}

	 .rows1 img,
	 .rows2 img,
	 .rows3 img,
	 .rows4 img,
	 .rows5 img,
	 .rows6 img {
	 	height: 100%;
		width: 100%;
 	}

 	.rows1,
 	.rows2,
 	.rows3,
 	.rows4,
 	.rows5,
 	.rows6 {
 		text-align: center;
 	}



}


@media screen and (min-width: 768px) {
	.container {
		width: 90%;
		margin: 0 auto;

	}
	body{
		background-color: #929698 ;
		width: 100%;

	}
	header img {
		width: 30%;
		border-radius: 90px;
		position: relative;
		left: 30%;
		padding-top:5px;
		text-align: center;
	}

	header p {
		
		text-align: center;
		font-size: 17px;
		padding-top:5px;
		
	}

	.main-nav {
		text-align: center;
		
		height: 100px;
		padding: 5px;
		width: 100%;
	}

	.main-nav li {
		background-color: #adadad;
		font-size: 22px;
		margin: 5px;
		display: inline;
	}

	.nav {
		margin-right: auto;	
	}

	.name {
		margin: 0;
		top: 10px;
		margin: 0 15px 0 0;
		padding: 5px;
		text-align: center;
		width: 100%;
	
	}

	.profile {
		float: right;
		background-color: #adadad;
		width: 40%;
		padding: 10px;
		margin: 20px 0;
		
	}

	.intro {
		
		width: 50%;

	}

	.intro p{
		text-align: left;
		width: 80%;
		float: left;
		padding: 0 20px;
	}

	.main-header {
		padding: 100px 0;
		width: 100%;
		
	}


	.wrap {
		text-align: center;
		padding: 20px;
		
		clear: both;
		
		width: 100%;
	}


	#contact {
		text-align: center;
		padding: 30px 20px;
		border-bottom: 1px solid black;
		clear: both;
		width: 100%;
	}

	#main-footer {
		width: 100%;
	 	text-align: center;
  		padding: 5px 10px;
	  
	}

	.to-top {
		padding: 5px;
		list-style: none;
		float: right;
	}

	footer li {
		padding: 5px;
		list-style: none;
		float: right;

	}

	footer h3 {
		float: left;
		margin:  1px;
		padding: 5px;
	}

	 .rows1, 
	 .rows2, 
	 .rows3  {
	 	float: left;
	 	width: 50%;
	 	text-align: center;
	 }
	 .rows4,
	 .rows5,
	 .rows6  {
	 	float: right;
		width: 50%;
		text-align: center;
		font-size: 10px;
 	}

 	.rows1 img,
 	.rows2 img,
 	.rows3 img,
 	.rows4 img,
 	.rows5 img,
 	.rows6 img {
 		width: 95%;
 		text-align: center;
 	}

 	.bottom-nav {
 		display: block;
 	}

 	.to-top {
		display: none;
	}

	.rows1 h3,
 	.rows2 h3,
 	.rows3 h3,
 	.rows4 h3,
 	.rows5 h3,
 	.rows6 h3 {
 		font-size: 20px;
 	}	

}



@media screen and (min-width: 1024px) {
	.container {
		width: 100%;
		margin: 0 auto;

	}
	body{
		background-color: #929698 ;
		width: 100%;

	}
	header img {
		width: 90px;
		border-radius: 100px;
		position: relative;
		left: 30%;
		padding-top:5px;
		text-align: center;
	}

	header p {
		margin: 5px 0;
		text-align: center;
		font-size: 17px;
		padding-top:5px;
		
	}

	.main-nav {
		margin: 0 auto;
		width: 400px;
		height: 100px;
		padding: 5px;
		width: 100%;
		float: left;
	}

	.main-nav li {
		background-color: #adadad;
		font-size: 22px;
		margin: 5px;
		display: inline;
		float: right;
		
	}

	.main-nav h1 {
		margin-left: 50px; 
	}

	.nav {
		margin-right: 50px;	
	}


	.name {
		top: 10px;
		margin: 0 50px 0 0;
		padding: 5px;
		width: 20%;
		display: inline;
		float: left;
	}

	.profile {
		float: right;
		background-color: #adadad;
		margin: 0 50px;
		width: 20%;
	}

	.intro {
		padding: 10px;
		float: left;
		width: 50%;
		margin: 0 50px;
		font-size: 20px;
	}

	.intro p{
		text-align: left;
	}

	.main-header {
		padding: 50px 0;
		margin: 150px 0;
	}


	.wrap {
		width: 100%;
		text-align: center;
		padding: 10px;
	}


	#contact {
		text-align: center;
		padding: 30px 0;
		border-bottom: 1px solid black;
		clear: both;
	}

	#main-footer {
		
	 	text-align: center;
  		padding: 5px 10px;
	  
	}

	.to-top {
		padding: 2px;
		list-style: none;
		float: right;
	}

	footer li {
		padding: 5px;
		list-style: none;
		float: right;
	}

	footer h3 {
		float: left;
		margin:  1px;
		padding: 5px;
	}

	.rows1, 
	.rows2, 
	.rows3  {
	 	float: left;
	 	width: 30%;
	 	margin: 10px 10px 0 5px;
 	 	display: inline-block;
 	 	position: relative;
 	 	text-align: center;
 	 	padding-bottom: 20px;
	 	left: 30px;
	 	font-size: 12px;
	 }
	 .rows4,
	 .rows5,
	 .rows6  {
	 	float: right;
	 	width: 30%;
	 	margin: 10px 10px 0 5px;
 	 	display: inline-block;
 	 	position: relative;
 	 	text-align: center;
 	 	padding-bottom: 40px;
	 	right: 30px;
	 	font-size: 12px;
 	}

 	.rows1 img,
 	.rows2 img,
 	.rows3 img,
 	.rows4 img,
 	.rows5 img,
 	.rows6 img {
 		width: 100%;
 	}

 	.rows1 p,
 	.rows2 p,
 	.rows3 p,
 	.rows4 p,
 	.rows5 p,
 	.rows6 p {
 		font-size: 12px;
 	}	


	

}
