
/*********************BASIC LAYOUT***************************/


header {
	width: 100%;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;

}

h1 {
	display: block;
	text-align: center;
	}

h2 {
	text-align: center;
	font-family: "Times New roman";
	font-size: 20px;

}



div p {
	font-size: 20px;

}





li {
	margin: 15px;
	text-decoration: none;

}

a {
	text-decoration: none;
	color: black;
}


/*********************MEDIA QUERY***************************/

@media screen and (min-width: 320px) {
	
	body{
		background-color: #f0fff0;
		max-width: 80%;
		margin: 0 auto;
		

	}
	header img {
		width: 40%;
		border-radius: 80px;
		position: relative;
		left: 30%;
		padding-top:5px;
		text-align: center;
		
	}

	header p {
		
		text-align: center;
		font-size: 17px;
		/*padding-top:5px;*/
	}

	.main-nav {
		text-align: center;
		height: 100px;
		padding: 5px;
		width: 100%;
	}

	.main-nav li {
		background-color: green;
		font-size: 22px;
		margin: 5px;
		border-radius: 5px;
	}
	.main-nav li a:hover {
		color: white;
	}
	

	.nav {
		margin-right: auto;	
	}

	.name {
		margin: 0;
		top: 10px;
		/*margin: 0 15px 0 0;*/
		padding: 5px;
		text-align: center;
		width: 100%;
	
	}

	.profile {
		
		background-color: #f0fff0;
		margin: 60px 30px 40px 30px;
	}

	.intro {
		padding: 10px;
		
	}

	.wrap {
		/*max-width: 80%;*/
		text-align: center;
	/*	padding: 10px;
		margin: 0 auto;*/
		
	}


	#contact {
		text-align: center;
		padding: 30px 10px;
		border-bottom: 1px solid green;
		max-width: 100%;
		right: 50px;
	}

	.main-footer {
		
	 	text-align: center;
  		/*padding: 5px 10px;*/
	  	
	}

	.to-top {
		padding: 5px;
		list-style: none;
		float: right;
	}

	.bottom-nav{
		
		display: none;
	}
	
	footer h3 {
		float: left;
		margin:  1px;
		padding: 5px;
	}

	 .rows1 img,
	 .rows2 img,
	 .rows3 img,
	 .rows4 img,
	 .rows5 img,
	 .rows6 img {
	 	height: 100%;
		width: 100%;
		box-shadow: 10px 10px 5px 0 black;
 	}

 	.rows1,
 	.rows2,
 	.rows3,
 	.rows4,
 	.rows5,
 	.rows6 {
 		text-align: center;

 	}



}


@media screen and (min-width: 768px) {

	header img {
		width: 50%;
		border-radius: 90px;
		position: relative;
		left: 20%;
		padding-top:5px;
		text-align: center;
	}

	header p {
		margin: 0 auto;
		text-align: center;
		font-size: 17px;
		padding-right: 50px;
		
	}

	.main-nav {
		text-align: center;
		
		height: 100px;
		padding: 5px;
		width: 100%;
	}

	.main-nav li {
		
		font-size: 22px;
		margin: 5px;
		display: inline;
	}

	.nav {
		margin-right: auto;	
	}

	.name {
		top: 10px;
		margin: 0 15px 0 0;
		padding: 5px;
		text-align: center;
		/*width: 100%;*/
	
	}

	.profile {
		float: right;
		width: 35%;
		padding-bottom: 80px;   
		margin: 20px auto;
		top: 50px;
	}

	.intro {
		
		max-width: 50%;

	}

	.intro p{
		text-align: left;
		max-width: 80%;
		float: left;
		border-radius: 50px;
		margin-bottom: 70px;
		border-color: green;
	}

	.main-header {
		padding: 5px;
		max-width: 100%;
		
	}


	.wrap {
		text-align: center;
		/*padding: 20px;*/
		max-width: 100%;
		clear: both;
	}


	#contact {
		text-align: center;
		padding: 30px 20px;
		border-bottom: 1px solid green;
		clear: both;
		width: 100%;

	}

	#main-footer {
		width: 100%;
	 	text-align: center;
  		padding: 5px 10px;
	  
	}

	.to-top {
		padding: 5px;
		list-style: none;
		float: right;
	}

	footer li {
		padding: 5px;
		list-style: none;
		float: right;

	}

	footer h3 {
		float: left;
		margin:  1px;
		padding: 15px;
	}

	 .rows1, 
	 .rows2, 
	 .rows3  {
	 	float: left;
	 	max-width: 50%;
	 	text-align: center;
	 	vertical-align: middle;
	 	padding: 30px 0;
	 	
	 }
	 .rows4,
	 .rows5,
	 .rows6  {
	 	float: right;
		max-width: 50%;
		text-align: center;
		vertical-align: middle;
		padding: 30px 0;
		
 	}

 	.rows1 img,
 	.rows2 img,
 	.rows3 img,
 	.rows4 img,
 	.rows5 img,
 	.rows6 img {
 		width: 95%;
 		text-align: center;
 	}

 	.bottom-nav {
 		display: block;
 	}

 	.to-top {
		display: none;
	}

	.rows1 h3,
 	.rows2 h3,
 	.rows3 h3,
 	.rows4 h3,
 	.rows5 h3,
 	.rows6 h3 {
 		font-size: 20px;
 	}	

 	.rows1 p,
 	.rows2 p,
 	.rows3 p,
 	.rows4 p,
 	.rows5 p,
 	.rows6 p {
 		font-size: 11px;
 		text-align: center;
 	}	

 	.clearfix:after {
 		content: ".";
 		display: table;
 		clear: both;

 	}
}



@media screen and (min-width: 1024px) {

	
	header img {
		width: 60%;
		/*border-radius: 100px;*/
		position: relative;
		left: 30%;
		padding-top:5px;
		text-align: center;
	}

	header p {
		margin: 4px 60px;
		text-align: center;
		font-size: 17px;
		padding-top:5px;
		
	}

	.main-nav {
		margin: 0 auto;
		
		height: 100px;
		padding: 5px;
		max-width: 100%;
		float: left;
	}

	.main-nav li {
		
		font-size: 22px;
		/*margin: 5px;*/
		display: inline;
		float: right;
		
	}

	.main-nav h1 {
		margin: 0 0 0 -50px; 
	}

	.nav {
		margin-right: 50px;	
	}


	.name {
		top: 10px;
		margin: 0 50px 0 0;
		padding: 5px;
		width: 40%;
		display: inline;
		float: left;
	}

	.profile {
		float: right;
		margin: 0 50px;
		max-width: 20%;
	}

	.intro {
		padding: 10px;
		float: left;
		width: 50%;
		/*margin: 0 50px;*/
		font-size: 20px;
	}

	.intro p{
		text-align: left;
	}

	.main-header {
		padding: 50px 0;
		margin: auto 0;
		max-width: 100%;
	}


	.wrap {
		max-width: 100%;
		text-align: center;
		/*padding: 10px;*/
	}


	#contact {
		text-align: center;
		padding: 30px 0;
		border-bottom: 1px solid green;
	}

	#main-footer {
		
	 	text-align: center;
  		padding: 5px 10px;
	  
	}

	.to-top {
		padding: 2px;
		list-style: none;
		float: right;
	}

	footer li {
		padding: 5px;
		list-style: none;
		float: right;
	}

	footer h3 {
		float: left;
		margin:  1px;
		padding: 15px;
	}

	.rows1, 
	.rows2, 
	.rows3
	  	   {
	 	float: right;
	 	max-width:30%;
	 	margin: 10px 10px 0 5px;
 	 	display: inline-block;
 	 	position: relative;
 	 	vertical-align: middle;
 	 	padding-bottom: 40px;
	 	/*left: 30px;*/

	 	
	 }
	 .rows4,
	 .rows5,
	 .rows6  {
	 	float: right;
	 	max-width: 30%;
	 	margin: 10px 10px 0 5px;
 	 	display: inline-block;
 	 	position: relative;
 	 	vertical-align: middle;
 	 	padding-bottom: 40px;
	 	/*right: 30px;*/
	 	
 	}

 	.rows1 img,
 	.rows2 img,
 	.rows3 img,
 	.rows4 img,
 	.rows5 img,
 	.rows6 img {
 		width: 100%;
 		min-height: 50px;
 	}

 	.rows1 p,
 	.rows2 p,
 	.rows3 p,
 	.rows4 p,
 	.rows5 p,
 	.rows6 p {
 		font-size: 12px;
 		padding: 10px 0;
 		min-height: 50px;
 	}	



	

}
